<<<<<<< Updated upstream
<h1>Edit you Tweet</h1>

<%= render "form" %>

<% link_to 'Show' @tweet %>

<% link_to 'back', tweets_path %>

=======
<h1>Tweets#edit</h1>
<p>Find me in app/views/tweets/edit.html.erb</p>
>>>>>>> Stashed changes
