<<<<<<< HEAD
<<<<<<< Updated upstream
<h1>New Tweet</h1>

<%= render "form" %>

<%= link_to 'Show', @tweet %>

     <%= link_to 'back', tweets_path %>
=======
<h1>Tweets#new</h1>
<p>Find me in app/views/tweets/new.html.erb</p>
>>>>>>> Stashed changes
=======
<h1>Tweets#new</h1>
<p>Find me in app/views/tweets/new.html.erb</p>
>>>>>>> origin/master
